.videoCard{
    width: 270px;
    margin-bottom: 0px;
    padding: 10px 5px;
    display: flex;
    flex-direction: column;
    /* background-color: brown; */
}

.videoCardImage{
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.videoCardThumbnail{
    height: 140px;
    width: 250px;
    object-fit: cover;
    border-radius: 10px;
}

.videoCardAvatar{
    margin-right: 5px;
}

.videoCardInfo{
    display: flex;
}

.videoText > h4{
    font-size: medium;
}

.videoText > p{
    font-size: small;
}